<div class="searchable-select" [class.active]="isOpen">
  <div class="select-input">
    <input 
      type="text" 
      class="search-input" 
      [placeholder]="placeholder"
      [(ngModel)]="searchText"
      (input)="onSearch($event)"
      (focus)="onFocus()"
      (keydown)="handleKeydown($event)"
      autocomplete="off"
      autocorrect="off"
      spellcheck="false"
      inputmode="search"
    >
    <button *ngIf="allowClear && hasSelection()" class="clear-btn" type="button" (click)="clearSelection($event)" aria-label="Clear selection">
      <i class="fas fa-times"></i>
    </button>
    <i class="fas caret" [class.fa-chevron-down]="!isOpen" [class.fa-chevron-up]="isOpen"></i>
  </div>
  
  <div class="select-dropdown" *ngIf="isOpen" (pointerdown)="onDropdownPointerDown()">
    <button class="scroll-btn scroll-up" (click)="scrollOptions('up')">
      <i class="fas fa-chevron-up"></i>
    </button>
    <div class="options-container">
      <div 
        class="option" 
        *ngFor="let option of filteredOptions; let i = index"
        (click)="selectOption(option)"
        (touchstart)="selectOption(option)"
        [class.selected]="isSelected(option)"
        [class.highlighted]="i === highlightedIndex"
      >
        <div class="option-content">
          <div class="checkbox" *ngIf="multiple">
            <i class="fas fa-check" *ngIf="isSelected(option)"></i>
          </div>
          <span>{{ option[labelKey] }}</span>
        </div>
      </div>
      <div class="no-results" *ngIf="filteredOptions.length === 0">
        No results found
      </div>
    </div>
    <button class="scroll-btn scroll-down" (click)="scrollOptions('down')">
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
</div> 