.brand-form {
  padding: 2rem;
  // max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1rem;
  }
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 16px;
  }
  .form-actions {
    margin-top: 16px;
    display: flex;
    gap: 10px;
  }
}

